
/* -- GLOBAL STYLES -- */
html {
  font-size: 16px;
  color: #232315;
  font-family: "Josefin Sans", "Raleway", "Open Sans", sans-serif;
  font-weight: lighter;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "IM Fell English", Times, Georgia, serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

strong {
  font-weigth: bold;
  /* IF NO EFFECT */
  font-weight: 500;
  font-weight: 800;
}

.style-container {
  max-width: 85%;
  padding: 2.5rem;
  margin: 2.5rem auto;

  background-color: #f5f5f5;
  border: 1px solid #aaa;
}

/* -- COLOR STYLE GUIDE -- */

#palette {
  margin: 0 auto;
  overflow: auto;
  max-width: 100%;
}

.color-container {
  width: 12.5%;
  height: auto;

  padding: 2.5%;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0.75rem;

  float: left;
  background-color: white;

  text-align: center;
}


@media only screen and (max-width: 895px) {
  .color-container:last-of-type {
    clear: left;
  }
}

@media only screen and (max-width: 760px) {
  #palette {
    display: flex;
    flex-flow: column;
  }

  .color-container {
    width: 90%;
  }
}

.color {
  max-width: 100px;
  width: 100%;
  height: 100px;
  border: 1px solid #444;
  margin: 0 auto 1rem auto;
}

/* LIST OF COLORS */

.page {
  background-color: #f5f5f5;
}

.ink {
  background-color: #232315;
}

.sky {
  background-color: #4169e1;
}

.dusk {
  background-color: #6a5acd;
}

.egg {
  background-color: #fafafa;
}

.revision {
  background-color: #ff4500;
}

/* -- TEXT STYLE GUIDE -- */

.font-container {
  width: 90%;

  padding: 2%;
  margin: 1rem 0;

  background-color: white;
  border: 1px solid #aaa;
  border-radius: 10px;

  font-size: 1.125rem;
}

.font-container ul {
  margin-top: 1.5rem;
}

.font-container li {
  display: inline;

  margin: 0 2.5rem;
}

.font-sample {
  margin: 2rem auto;
  font-size: 2rem;
}

/* LIST OF FONTS */
#titles {
  font-family: "IM Fell English", Times, serif;
}

#body {
  font-family: Georgia, Times, serif;
}

#ui {
  font-family: "Open Sans", sans-sans-serif;
}
